
/*
  Colors
*/

// Prominent colors
$primary: #3E1D5E;
$secondary: #1E1336;
$form: #1F1234;
$form-second: #2A174A;
$font: #ffffff;
$btn: #8000FF;
$btn-hover: #006eff;

$black: #000000;
$profile: #171717;
$menu: #1f1f1f;
$grey: #e1dddd;